{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="classify_l">
<div class="classify_l_v"> 
<div><img src="{$CssDir/}images/pic24.jpg" alt="" /> 国务院信息</div>
<script language="javascript" type="text/javascript" charset="UTF-8" src="http://www.gov.cn/pushinfo/v150203/pushinfo.js"></script>

</div>
<div class="classify_l_v"> 
<div><img src="{$CssDir/}images/pic24.jpg" alt="" /> 省政府信息</div>
<script language="javascript" type="text/javascript" charset="gb2312" src="http://www.yn.gov.cn/zfxx/index.js"></script>

</div>
</div>

</body>
</html>