<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="F87F9F9767D21464EDB99DCED9BC9B9E89B88604274358C903FF85B5E87B6F9176EF77B79CAB7216E3725CD9AA967877AFE0C6B034B3A17961AF01776CD592FEA7DC53339B557C67C25B313BD8BF83F3CA77BB4EF4DE0B36E9F97C750C510F12640BBD60D39CB13FFC5B9F7D35F64FFD41B8491DE4D3ADCC3147D2C7944B397F" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>